.playListContainer {
    width: 100%;
    margin: 5rem 0rem;
    align-items: center;
}

.playListItem {
    width: 100%;
}

.playListCard {
    width: 90%;
    height: 6rem;
    padding: 0.5rem;
}

.viewFullPlayListBtn {
    padding: 0.25rem;
    margin-left: 0;
    margin-right: 0;
}

@media (min-width: 425px) {
    .playListItem {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 0;
    }
}

@media (min-width: 768px) {
    .playListItem {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .playListItem {
        grid-template-columns: repeat(4, 1fr);
    }
}
