.videoContainer {
    width: 95%;
    height: 15rem;
    align-items: center;
    font-size: 12px;
    position: relative;
}

.img {
    width: 100%;
    height: 70%;
    background-color: var(--gray-2);
    position: absolute;
    top: 0;
    left: 0;
}

.detailsContainer {
    width: 95%;
    position: absolute;
    bottom: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detailsItem {
    display: flex;
    flex-direction: column;
    margin: 0rem 0.25rem;
}

.moreIcon {
    font-weight: bold;
}

.moreIcon:hover {
    cursor: pointer;
}

.duration {
    background-color: black;
    color: white;
    padding: 0.25rem;
    position: absolute;
    bottom: 30%;
    right: 2%;
}

.channelAvatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--gray-2);
}

@media (min-width: 475px) {
    .videoContainer {
        height: 18rem;
    }
}

@media (min-width: 768px) {
    .videoContainer {
        height: 20rem;
    }
}
